<section class="quiz">
  <header>
    <div class="backButton">
      <a [routerLink]="['../../']"> <mat-icon>keyboard_backspace</mat-icon></a>
    </div>
    <img src="{{ quizMeta.image }}" alt="{{ quizMeta.describe }}" />
    <div class="quiz__describe">
      <div class="quiz__title">{{ quizMeta.title }}</div>
      <div>
        created by <span>{{ quizMeta.author }} </span><br />
        {{ quizMeta.describe }}
      </div>
      <br />

      <mat-button-toggle-group>
        <mat-button-toggle
          *ngFor="let i of arrayAction"
          value="{{ i }}"
          class="matToggle"
          [ngClass]="i === Action ? 'active' : ''"
          (click)="Action = i"
          >{{ i }}</mat-button-toggle
        >
      </mat-button-toggle-group>
    </div>
  </header>
  <div [ngSwitch]="Action">
    <div *ngSwitchCase="'play'">
      <app-quiz-one></app-quiz-one>
    </div>
    <div *ngSwitchCase="'ratings'">
      <app-ratings></app-ratings>
    </div>
    <div *ngSwitchDefault>output2</div>
  </div>
</section>
