<article class="article">
  <input
    class="article__search"
    [ngClass]="{ active: search }"
    placeholder="Find a quiz!"
    (input)="bind$.next($any($event.target).value)"
    #input
  />
  <h1 *ngIf="(filterList$ | async)?.length == 0">NO RESULTS</h1>
  <article
    class="article__for"
    @fade
    *ngFor="let el of filterList$ | async; let i = index"
  >
    <img src="{{ el.meta.image }}" alt="" />
    <div class="article__describe">
      <h1>
        {{ el.meta.title }}
        <span style="color: rgba(255, 255, 255, 0.25)"> by </span>
        <span class="article__author">{{ el.meta.author }}</span>
      </h1>
      <span class="article__data">
        {{ el.meta.date }}
        <!-- Coloring -->
        <span
          *ngIf="el.meta.levelDifficulty === 'easy'"
          [style.color]="coloring.easy"
          >easy quiz!</span
        >
        <span
          *ngIf="el.meta.levelDifficulty === 'medium'"
          [style.color]="coloring.medium"
          >medium level of difficult</span
        >
        <span
          *ngIf="el.meta.levelDifficulty === 'hard'"
          [style.color]="coloring.hard"
          >Demanding quiz!</span
        >
        <br />
        <span *ngIf="CountRate(i)">
          <mat-icon
            *ngFor="let r of rate"
            [ngStyle]="{ color: r - 1 < CountRate(i) ? '#ffe000' : null }"
            >star</mat-icon
          ></span
        >
      </span>

      <p>
        {{ el.meta.describe }}
        <br />
      </p>

      <div class="article__buttons">
        <button
          [routerLink]="['./quiz-one/', el.meta.id]"
          routerLinkActive="router-link-active"
          (click)="scrollUp()"
        >
          Let's go!
        </button>
      </div>
    </div>
  </article>
</article>
