@blackless: rgb(61, 61, 61);
form {
  background-color: @blackless;
  h1,
  h2 {
    color: white;
  }
  input,
  textarea {
    margin: 0px 0;
    height: 60px;
    text-align: center;
    padding: 5px;
    font-size: 1.2rem;
    background-color: #2e2b2b;
    border: none;
    border-bottom: 2px solid white;
    color: white;
    outline: none;
    transition: width 0.001s ease, border 0.3s ease-in-out;
    width: 100%;
  }
}
