@black: #1b141a;
@blackless: rgb(61, 61, 61);
@favourite: #d9008f;
@favless: rgba(217, 0, 145, 0.25);
@white: white;
@whiteless: rgba(255, 255, 255, 0.25);
.create {
  h1,
  h2 {
    text-align: center;
    font-weight: 400;
  }

  .create__show {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    font-weight: 400;
    color: white;
    margin-bottom: 80px;
    .mat-button-toggle-appearance-standard {
      background-color: @blackless;
      border: none;
    }
    .mat-button-toggle-standalone.mat-button-toggle-appearance-standard,
    .mat-button-toggle-group-appearance-standard {
      border-radius: 20px;
      border: none;
      width: fit-content;
    }
    .mat-button-toggle-group-appearance-standard
      .mat-button-toggle
      + .mat-button-toggle {
      border-left: 4px solid @blackless;
    }
    .mat-button-toggle button {
      transition: all 0.3s ease;
    }
    .mat-button-toggle.active button {
      background-color: @favourite;
      color: white;
    }
    .mat-button-toggle.active button span {
      color: white;
    }
    button {
      border-radius: 10px;
      font-size: 1.2rem;
      background-color: rgb(42, 39, 42);
      text-transform: uppercase;
      padding: 5px 10px;
      border: none;
      color: white;
      cursor: pointer;
    }
    h1 {
      color: white;
      margin-top: 60px;
    }
    h2 {
      color: @favourite;
      margin: 0 0 40px;
    }
    img {
      max-width: 300px;
    }
  }
  form {
    background-color: @blackless;
    h1 {
      color: @favourite;
    }
    h2 {
      color: white;
    }
    input,
    textarea {
      margin: 0px 0;
      height: 60px;
      text-align: center;
      padding: 5px;
      font-size: 1.2rem;
      background-color: #2e2b2b;
      border: none;
      border-bottom: 2px solid white;
      color: white;
      outline: none;
      transition: width 0.001s ease, border 0.3s ease-in-out;
      width: 100%;
    }
    img {
      margin-left: auto;
      margin-right: auto;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: 400px;
      width: 90vw;
    }
  }
  .quiz__correctButtons {
    display: flex;
    flex-wrap: wrap;
    .quiz__button {
      flex: 1;
      min-height: 50px;
      margin: 2px;
      border: none;
      font-size: 1.2rem;
      background-color: @favourite;
      color: white;
      cursor: pointer;

      min-width: 300px;
      &.active {
        background-color: #ac3885;
      }
    }
  }
  .quiz__operations {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    max-width: 800px;
    margin: auto;
    padding: 60px 0;
    button {
      flex: 1;
      max-width: 300px;
      height: 200px;
      margin: 20px 2px 2px;
      border: none;
      font-size: 1.2rem;
      background-color: @favourite;
      color: white;
      cursor: pointer;
      text-align: center;
      transition: all 0.3s ease;
      border: 2px solid @blackless;
      mat-icon {
        margin-top: 10px;
        font-size: 4em;
        width: auto;
      }
    }
    button:hover {
      transform: scale(1.1);
    }
  }
}
