<div class="create">
  <button class="backButton">
    <a [routerLink]="['../']"> <mat-icon>keyboard_backspace</mat-icon></a>
  </button>
  <div class="create__show">
    <h1>{{ baseData.title }}</h1>

    <h2>{{ baseData.author }}</h2>
    <img *ngIf="baseData.image" [src]="baseData.image" alt="error" />
    <p>{{ baseData.describe }}</p>

    <mat-button-toggle-group>
      <mat-button-toggle
        *ngFor="let i of levels"
        value="{{ i }}"
        class="matToggle"
        [ngClass]="i === baseData.levelDifficulty ? 'active' : ''"
        (click)="baseData.levelDifficulty = i"
        >{{ i }}</mat-button-toggle
      >
    </mat-button-toggle-group>
  </div>

  <form>
    <h1>Base information</h1>
    <input
      name="author"
      placeholder="Your nick"
      required
      [(ngModel)]="baseData.author"
    />
    <br />
    <input
      name="title"
      placeholder="Title of your quiz :)"
      [(ngModel)]="baseData.title"
      required
    />

    <br />
    <input
      name="describe"
      placeholder="short describe!"
      [(ngModel)]="baseData.describe"
      required
    />

    <br />
    <input
      name="url"
      placeholder="image url of your quiz"
      class=""
      required
      [(ngModel)]="baseData.image"
    />

    <br />
    <h1>Questions</h1>
    <span *ngFor="let item of ListQues; let i = index">
      <h2>Question number: {{ i + 1 }}</h2>
      <input
        placeholder="Question {{ i + 1 }}"
        required
        [(ngModel)]="item.question"
        [ngModelOptions]="{ standalone: true }"
      />
      <img *ngIf="item.image" [src]="item.image" alt="Question image" />
      <input
        placeholder="OPTIONAL url of image"
        required
        [(ngModel)]="item.image"
        [ngModelOptions]="{ standalone: true }"
      />
      <br />
      <br />
      <h2>Answers</h2>
      <input
        *ngFor="let i of [0, 1, 2, 3]"
        placeholder="Answer {{ i + 1 }}"
        required
        [(ngModel)]="item.answers[i]"
        [ngModelOptions]="{ standalone: true }"
      />
      <br />
      <br />
      <h2>
        Correct answer <span>{{ item.correct }}</span>
      </h2>
      <div class="quiz__correctButtons">
        <button
          class="quiz__button"
          *ngFor="let a of [0, 1, 2, 3]"
          (click)="item.correct = item.answers[a]"
          [ngClass]="
            item.correct === item.answers[a]
              ? 'quiz__button active'
              : 'quiz__button'
          "
        >
          {{ item.answers[a] }}
        </button>
      </div>
    </span>
    <div class="quiz__operations">
      <button type="button" (click)="addContainer()">
        Add new Question <br />
        <mat-icon>library_add</mat-icon>
      </button>
      <button type="button" (click)="jsonFile()">
        Download JSON file quiz <br />
        <mat-icon>file_copy</mat-icon>
      </button>
      <button type="submit" (click)="pushQuiz()" [routerLink]="['../']">
        Add Quiz <br />
        <mat-icon>note_add</mat-icon>
      </button>
    </div>
  </form>
</div>
