<mat-form-field class="example-full-width" appearance="fill">
  <mat-label>Question</mat-label>
  <input matInput #message maxlength="256" placeholder="url of image" />
</mat-form-field>
<br /><br /><br />
<mat-radio-group
  aria-label="Select an option"
  [(ngModel)]="selectedStatus"
  name="some"
>
  <mat-radio-button value="1">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label></mat-label>
      <input matInput #message maxlength="256" placeholder="url of image" />
    </mat-form-field>
  </mat-radio-button>
  <mat-radio-button value="2">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label></mat-label>
      <input matInput #message maxlength="256" placeholder="url of image" />
    </mat-form-field>
  </mat-radio-button>
  <mat-radio-button value="3">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Image</mat-label>
      <input matInput #message maxlength="256" placeholder="url of image" />
    </mat-form-field>
  </mat-radio-button>
  <mat-radio-button value="4">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Image</mat-label>
      <input matInput #message maxlength="256" placeholder="url of image" />
    </mat-form-field>
  </mat-radio-button>
</mat-radio-group>
<br /><br /><br />
